
body 
  {
  
    font-size:24px;
    line-height: 24px; 
      /*line-height=space between text lines*/
    color: #000000;
      /*color of the text*/
    font-family: Helvetica;
      /*font of the text*/
    background-image: url("../images/cork-wallet.png");
  }

.header 
  {

    float:left;
      /*keeps the header to the left */
    position: absolute;
      /*unknown*/
    font-size:30px;
      /*size of the font*/
    text-align: center;
      /*aligns the text to the center*/
    color:white;
      /*color of the text*/
    background-color:#4aaaa5;
      /*background color of this container*/
    padding: 20px;
      /*space around the content- confused as to why this bumps the "about me section".*/
    margin-left: 51px;
      /*controling the margin on either side of the header- aka, how far it is from the sides*/
    margin-right:100px;
      /*controling the margin on either side of the header- aka, how far it is from the sides*/
    margin-top: 67px;
     /*controling the margin on either side of the header- aka, how far it is from the sides*/
  }

#navbar{ 
  position: absolute;
  list-style-type:none;
  margin-top: 80px;
  margin-right:200px;
  margin-left:420px;
  float:right;

    }

.navlink
{color:#777777;
text-decoration: none;
padding-left:11px;
padding-right:2px;
margin-right:10px;
font-size: 18px;
border-right-color: #cccccc;
border-right-style: solid;
border-right-width: 2px; }

#me  
  { 
    background-image: url("../images/jef414-200.jpeg");
    float:left;
    background-repeat: no-repeat;
    height:190px;
    width:150px;
    position: relative;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom: 5px;
    /*controling the margin on either side of the header- aka, how far it is from the sides*/
    margin-top:10px;
    clear:both;
    border-style: solid;
    border-width: 3px;
    border-color:#4aaaa5;

  }   

.header1 
  {
    z-index: 2
    font-size: 24px;
      /*controls the font size for the About Me header*/
    font-weight: bolder; 
      /*controls the bold level for the About Me header*/
      text-align: center;
    margin-top: 20px;
    padding-bottom:20px;
    border-bottom-style:double;
    border-bottom-color: #4aaaa5;
    border-bottom-width: 2px;
  }


.mainbody
  {
    position:absolute;
    clear:right;
    color:#777777;
      /*text color of container*/
    background-color:white;
      /*background color of container*/
    height:auto;
      /*controls height of the container*/
    width:650px;
      /*controls width of container*/
    margin-top:130px;
      /*controls margin from top of page*/
    margin-left:50px;
    text-align: left;
      /*how text is aligned in container*/
    border-top-style: solid;
      /*border Style*/
    border-top-width: 2px; 
      /*border thickness*/
    border-top-color: #cccccc;
      /*border color*/
    overflow:scroll
      /*creates a scrollable text box if the text is larger than the container height and width.*/
  }

  .mainbody1
  {
 
    position:absolute;
    clear:right;
    color:#777777;
      /*text color of container*/
    background-color:white;
      /*background color of container*/
    height:400px;
      /*controls height of the container*/
    width:700px;
      /*controls width of container*/
    margin-top:130px;
      /*controls margin from top of page*/
    margin-left:50px;
    text-align: left;
      /*how text is aligned in container*/
    border-top-style: solid;
      /*border Style*/
    border-top-width: 2px; 
      /*border thickness*/
    border-top-color: #cccccc;
      /*border color*/
    overflow:scroll
      /*creates a scrollable text box if the text is larger than the container height and width.*/}

#connectwithme
{
    position:absolute;
    color:#777777;
      /*text color of container*/
    background-color:white;
      /*background color of container*/
    height:auto;
      /*controls height of the container*/
    width: 270px;
      /*controls width of container*/
    margin-top: 130px;
      /*controls margin from top of page*/
    margin-left:740px;
    text-align: left;
      /*how text is aligned in container*/
    border-style: solid;
      /*border Style*/
    border-width: 2px; 
      /*border thickness*/
    border-color: #cccccc;
      /*border color*/
    overflow:scroll;
      /*creates a scrollable text box if the text is larger than the container height and width.*/
  }


.p 
  {
    font-size: 12px;
    text-align:left;
    margin-left:5px;
    margin-top:10px;

  }


.textformatting {
  border-top-color: #4aaaa5;
  border-top-style: solid; 
  border-top-width: 2px;}


/*Contact Form Specific*/
.contactmeform
  {
    float:left;
      /*controls it floating in the page, however, very small adjustment from left to right*/
    clear: both;
    color:#777777;
      /*text color of container*/
    background-color:white;
      /*background color of container*/
    height:400px;
      /*controls height of the container*/
    width:450px;
      /*controls width of container*/

    margin-top:130px;
      /*controls margin from top of page*/
    margin-left:50px;
    padding-left:25px;
    padding-top:15px;
    padding-right:25px;
    text-align: left;
      /*how text is aligned in container*/
    border-style: solid;
      /*border Style*/
    border-width: 2px; 
      /*border thickness*/
    border-color: #cccccc;
      /*border color*/
}
.fieldformat
    {width:300px;}

.submitformat
    {width:80px;
      font-size: 18px;
      text-align: center;
      height:40px;
    color:white;
      /*color of the text*/
    background-color:#4aaaa5;
      /*background color of this container*/}

.formfields
  {
    width:200px;
    z-index: 5;
    font-size: 14px;
      /*controls the font size for the About Me header*/
    font-weight: bolder; 
      /*controls the bold level for the About Me header*/
      text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom:20px; }

  #footer 
  {
    height:50px;
    width:100%;
    background-color: #666666;
    color:#cccccc;
    position:fixed;
    bottom:0;
    text-align: center;
    font-size: 12px;
    border-top-style:solid;
    border-top-color:#4aaaa5;
    border-top-width:2px}
  }

  /*Portfolio Specific*/


  
  }
  .portfolioboxleft
{
    float:left;
    color:#777777;
      /*text color of container*/
    background-color:white;
      /*background color of container*/
    height:100px;
      /*controls height of the container*/
    width: 200px;
      /*controls width of container*/

    margin-top: 10px;
      /*controls margin from top of page*/
    margin-left:20px;
    text-align: left;
      /*how text is aligned in container*/
    border-style: solid;
      /*border Style*/
    border-width: 2px; 
      /*border thickness*/
    border-color: #cccccc;
      /*border color*/}

  .portfoliobox
{
    float:right;
    color:#777777;
      /*text color of container*/
    background-color:white;
      /*background color of container*/
    height:100px;
      /*controls height of the container*/
    width: 200px;
      /*controls width of container*/

    margin-top: 10px;
      /*controls margin from top of page*/
    margin-left:10px;
    margin-right:20px;
    text-align: left;
      /*how text is aligned in container*/
    border-style: solid;
      /*border Style*/
    border-width: 2px; 
      /*border thickness*/
    border-color: #cccccc;
      /*border color*/
    }

.countryname 
  {
    position:absolute;
    margin-top:110px;
    font-size: 18px;
    width:200px;
    height:40px;
    text-align:left;
    float:left;
    color:white;
    text-align:center;
      /*color of the text*/
    background-color:#4aaaa5;
      /*background color of this container*/
    clear:both;
  }

#brazil{ 
  
  background-image: url("../images/IMG_0609.jpg");
  background-size:contain;
  transform:scale(20%);
  float:left;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position: relative;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top:10px;
  clear:both;
  border-style: solid;
  border-width: 3px;
  border-color:#4aaaa5;
  }   


#ireland {
  background-image: url("../images/IMGP8190.JPG");
  background-size:contain;
  float:left;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position: relative;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top:10px;
  clear:both;
  border-style: solid;
  border-width: 3px;
  border-color:#4aaaa5;
  
  }   


#mexico {
  background-image: url("../images/IMG_1213.jpg");
  background-size:contain;
  transform:scale(20%);
  float:right;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position: absolute;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top:10px;
  border-style: solid;
  border-width: 3px;
  border-color:#4aaaa5;
  }   

  #poland {
  background-image: url("../images/imgp6640.jpg");
  background-size:contain;
  transform:scale(20%);
  float:left;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position: relative;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top:10px;
  clear:both;
  border-style: solid;
  border-width: 3px;
  border-color:#4aaaa5;
  clear:right;

  }   

  #hungary{
  background-image: url("../images/imgp6538.jpg");
  background-size:contain;
  transform:scale(20%);
  float:left;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position: relative;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top:10px;
  clear:both;
  border-style: solid;
  border-width: 3px;
  border-color:#4aaaa5;
  clear:right;

  } 

  #czrepublic{
  background-image: url("../images/img_0844.jpg");
  background-size:contain;
  transform:scale(20%);
  float:left;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position: relative;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top:10px;
  clear:both;
  border-style: solid;
  border-width: 3px;
  border-color:#4aaaa5;
  clear:both;

  }     

  #austria{
  background-image: url("../images/imgp6336.jpg");
  background-size:contain;
  transform:scale(20%);
  float:right;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position: absolute;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top:10px;
  clear:both;
  border-style: solid;
  border-width: 3px;
  border-color:#4aaaa5;
  
   
}

  #germany{
  background-image: url("../images/imgp5918.jpg");
  background-size:contain;
  transform:scale(20%);
  float:left;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position: absolute;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top:10px;
  clear:left;
  border-style: solid;
  border-width: 3px;
  border-color:#4aaaa5;
  clear:left;

  }   

  #hungary{
  background-image: url("../images/imgp6538.jpg");
  background-size:contain;
  transform:scale(20%);
  float:left;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  position: relative;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top:10px;
  clear:both;
  border-style: solid;
  border-width: 3px;
  border-color:#4aaaa5;
  clear:right;

  } 