
#body 
  {
    width: 960px; 
    height: 960px;
    font-size:24px;
    line-height: 24px; 
      /*line-height=space between text lines*/
    color: #000000;
      /*color of the text*/
    font-family: Helvetica;
      /*font of the text*/
      background-image:url(assets/images/cork-wallet.png);
  }

.Header 
  {

    float:left;
      /*keeps the header to the left */
    position: absolute;
      /*unknown*/
    font-size:30px;
      /*size of the font*/
    text-align: center;
      /*aligns the text to the center*/
    color:white;
      /*color of the text*/
    background-color:#4aaaa5;
      /*background color of this container*/
    padding: 20px;
      /*space around the content- confused as to why this bumps the "about me section".*/
    margin-left: 50px;
      /*controling the margin on either side of the header- aka, how far it is from the sides*/
    margin-right:100px;
      /*controling the margin on either side of the header- aka, how far it is from the sides*/
    margin-top: 37px;
     /*controling the margin on either side of the header- aka, how far it is from the sides*/
  }

#navbar{ 
  position: static;
  list-style-type:none;
  margin-top: 50px;
  margin-right:200px;
  padding: 0;
  float:right;
  max-width: 960px;

    }

.navlink
{color:#777777;
text-decoration: none;
padding-left:11px;
padding-right:2px;
margin-left:10px
margin-right:10px;
font-size: 18px;
border-right-color: #cccccc;
border-right-style: solid;
border-right-width: 2px; }

#me  
  { 
    position:relative;
    border-style: solid;
      /*creates a corder on the outside of the image*/
    border-color: #4aaaa5;
    border-width: 1px;
    margin-left: 5px;
    /*controling the margin on either side of the header- aka, how far it is from the sides*/
    margin-right: 10px;
    /*controling the margin on either side of the header- aka, how far it is from the sides*/
    float:left;
    /*allows the text to sit next to this image (how?) */
  }   


#special
  { 
    font-weight: bold}
.box 
  {
    float:right;
    color:#777777;
      /*text color*/
    font-size: 18px;
      /*font size*/
    background-color:white;
      /*background color of the boxes*/
    
      /*forces things to shift left*/
    margin-left: 50px;
      /*distance between the item and the item next to it*/

    margin-top:55px;
      /*distance between the item and the item next to it*/
    margin-bottom: 0px;
      /*distance between the item and the item next to it*/
    padding-right: 10px;
      /*distance between words and border*/
    text-align: center;
      /*how the words are aligned*/
    border-right: solid;
      /*creates only a right side solid border*/
    border-width: 2px;
       /*size of the rigth side border*/
    border-right-color: #cccccc;
  }



.header1 
  {
    z-index: 5;
    font-size: 24px;
      /*controls the font size for the About Me header*/
    font-weight: bolder; 
      /*controls the bold level for the About Me header*/
      text-align: center;
    margin-top: 20px;
    padding-bottom:20px;
  }



.AboutMeText
  {
    float:left;
      /*controls it floating in the page, however, very small adjustment from left to right*/
    clear: both;
    color:#777777;
      /*text color of container*/
    background-color:white;
      /*background color of container*/
    height:400px;
      /*controls height of the container*/
    width:500px;
      /*controls width of container*/

    margin-top:50px;
      /*controls margin from top of page*/
    margin-left:50px;
    text-align: left;
      /*how text is aligned in container*/
    border-style: solid;
      /*border Style*/
    border-width: 2px; 
      /*border thickness*/
    border-color: #cccccc;
      /*border color*/
    overflow:scroll
      /*creates a scrollable text box if the text is larger than the container height and width.*/
  }
#connectwithme
{
    position:absolute;
    color:#777777;
      /*text color of container*/
    background-color:white;
      /*background color of container*/
    height:300px;
      /*controls height of the container*/
    width: 400px;
      /*controls width of container*/

    margin-top: 150px;
      /*controls margin from top of page*/
    margin-left:600px;
    text-align: left;
      /*how text is aligned in container*/
    border-style: solid;
      /*border Style*/
    border-width: 2px; 
      /*border thickness*/
    border-color: #cccccc;
      /*border color*/
    overflow:scroll;
      /*creates a scrollable text box if the text is larger than the container height and width.*/
  }


.p 
  {
    font-size: 12px;
    text-align:left;
    float:left;
    margin-left:5px;
  }


.textformatting {border-top-color: #4aaaa5;
                  border-top-style: solid; 
                  border-top-width: 2px;}
#bg
  { 
    z-index: -1;
    /*sent the background behind the image/text box*/
    width: 100%;
    height: auto;
      /*controls the height and width of the background*/

    position: absolute;
      /*makes sure background doesn't move even when scrolling*/
    margin-top: 100px;
    margin-left:0px;
     /*margin from the left*/
    margin-right:0px;
      /*margin from the right*/
    border-top-style: solid;
    border-top-width:2px;
    border-top-color:#4aaaa5;
      /*controls the top border on the background*/
  }

  #footer 
  {
    height:20px;
    width:100%;
    background-color: #666666;
    position:fixed;
    bottom:0;
    text-align: center;
    font-size: 12px;
    border-top-style:solid;
    border-top-color:#4aaaa5;
    border-top-width:2px}
  }

#id=contactmeform